body {
  font-family: Arial, sans-serif;
  background: #20232a;
  color: white;
  text-align: center;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}

.game-board {
  width: 440px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  margin: 0 auto;
}


.card {
  width: 100px;
  height: 100px;
  perspective: 600px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}


.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
}


.card-front {
  background: #61dafb url('backofcard.jpg') center/cover no-repeat;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

button {
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  border-width: 3px;
  border-style: solid;
  background-color: #4fb8d9;
}

button:active {
  transform:rotateY(22px) scale(0.98);
  box-shadow: 0 2px 6px rgba(0,0,0,0.28) inset;
}
